<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.logo = "<%= asset_path('trelloicon-white.svg') %>"
  window.closeIcon = "<%= asset_path('close.svg') %>"
</script>

<div id="root">
  React will render here!
</div>
