.edit-description-form > textarea {
  overflow: scroll;
  overflow-wrap: break-word;
  resize: none;
  height: 154px;
  width: 100%;
  background: #fff;
  box-shadow: none;
  border-color: rgba(9,45,66,.13);
  margin-bottom: 4px;
  border: 1px solid #dfe3e6;
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  position: relative;
}

.edit-description-form > textarea:focus {
  outline: none;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
}

.edit-description-options img {
  position: absolute;
  top: 280px;
  left: 120px;
}

.edit-description-options img:hover {
  cursor: pointer;
}

.edit-description-options span {
  position: absolute;
  top: 265px;
  left: 385px;
  font-size: 12px;
}

.move-card-container, .copy-card-container, .dt-container {
  position: absolute;
  padding: 12px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
  z-index: 70;
}

.move-card-container {
  left: 498px;
  top: 220px;
  width: 304px;
}

.move-card-title img, .copy-card-title img {
  height: 18px;
  top: 10px;
  right: 14px;
}

.select-options-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-option-list {
  width: 192px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.select-option-position {
  width: 80px;
}

.select-option-position, .select-option-list {
  height: 48px;
  background-color: #dfe3e6;
  box-shadow: 0 1px 0 0 #c2ccd1;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 12px;
  margin-bottom: 8px;
}

#select-board-dropdown-card {
  top: 44px;
  left: 13px;
}

#select-position-dropdown-card, #select-list-dropdown, #select-list-dropdown-copy {
  color: #17394d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  height: 50px;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

#select-list-dropdown {
  top: 100px;
  left: 12px;
  width: 192px;
}

#select-position-dropdown-card {
  bottom: 58px;
  right: 12px;
  width: 80px;
}

.copy-card-container {
  left: 498px;
  top: 262px;
  width: 304px;
}

#new-card-title {
  height: 72px;
  margin: 4px 0 12px;
  width: 100%;
  background-color: #ebeef0;
  color: #17394d;
  border: 1px solid #dfe3e6;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 8px;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

#new-card-title:hover {
  border: 1px solid #97a7b0;
}

#new-card-title:focus {
  background-color: white;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
}

#select-board-dropdown-copy-card {
  top: 148px;
  left: 13px;
}

#select-list-dropdown-copy {
  top: 204px;
  left: 12px;
  width: 192px;
}

.dt-container {
  position: absolute;
  left: 498px;
  top: 132px;
  width: 304px;
}

.dt-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dt-input {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.dt-input label {
  font-weight: 700;
  color: #17394d;
  font-size: 14px;
  line-height: 16px;
}

.dt-input input {
  margin: 4px 0 12px;
  background-color: #fafcfc;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6;
  color: #17394d;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
}

.dt-input input:hover {
  background-color: #ebeef0;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6
}

.dt-input input:focus {
  outline: none;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf
}

.dt-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dt-calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dt-calendar-header button, .dt-calendar-header select {
  border: none;
  outline: none;
  white-space: nowrap;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 10px;
  color: #6b808c;
  text-decoration: underline;
  margin: 6px 0;
  font-size: 14px;
  line-height: 20px;
  background: none;
}

.dt-calendar-header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width: auto;
}

.dt-calendar-header option {
  text-align: center;
}

.dt-calendar-header button:hover, .dt-calendar-header select:hover {
  color: #17394d;
  background-color: rgba(9,45,66,.13);
}

.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar, .calendar th, .calendar td {
  border: 1px solid #c2ccd1;
}

.calendar th {
  background: #ebeef0;
  font-weight: 700;
  padding: 4px;
}

.calendar td {
  text-align: center;
  width: 14.2857%;
  /* height: 29px; */
  padding: 0;
}

.calendar td:hover {
  background-color: rgba(9,45,66,.13);
}


.calendar td button {
  width: 100%;
  height: 100%;
  padding: 4px;
  font-size: 14px;
  line-height: 29px;
  border: none;
  background: transparent;
  color: inherit;
}

.calendar-selected {
  background: #0079bf;
  color: white;
}

.calendar-selected:hover {
  background: #0079bf !important;
}

.empty-cal {
  background-color: #f5f6f7; 
}

.empty-cal:hover {
  background-color:  #f5f6f7 !important;
}