.edit-description-form > textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 154px;
  width: 100%;
  background: #fff;
  box-shadow: none;
  border-color: rgba(9,45,66,.13);
  margin-bottom: 4px;
  border: 1px solid #dfe3e6;
  border-radius: 3px;
  padding: 6px 8px;
  line-height: 20px;
  box-sizing: border-box;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  position: relative;
}

.edit-description-options img {
  position: absolute;
  top: 280px;
  left: 120px;
}

.edit-description-options span {
  position: absolute;
  top: 265px;
  left: 385px;
  font-size: 12px;
}

.move-card-container {
  position: absolute;
  left: 498px;
  top: 132px;
  padding: 12px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
  width: 304px;
  z-index: 70;
}

.move-card-title img {
  height: 18px;
  top: 10px;
  right: 14px;
}

.select-options-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-option-list {
  width: 192px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.select-option-position {
  width: 80px;
}

.select-option-position, .select-option-list {
  height: 48px;
  background-color: #dfe3e6;
  box-shadow: 0 1px 0 0 #c2ccd1;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 12px;
  margin-bottom: 8px;
}

#select-board-dropdown-card {
  top: 44px;
  left: 13px;
}

#select-position-dropdown-card, #select-list-dropdown {
  color: #17394d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  height: 50px;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

#select-list-dropdown {
  top: 100px;
  left: 12px;
  width: 192px;
}

#select-position-dropdown-card {
  bottom: 58px;
  right: 12px;
  width: 80px;
}
