.header-nav {
  height: 40px;
  padding: 4px;
  background: #026aa7;
  display: flex;
  justify-content: space-between;
}

.home-overlay {
  display: block;
  background: #72a3c6;
  padding: 6px;
  margin-right: 4px;
  border-radius: 3px;
}

.home-overlay:hover {
  background-color: hsla(0,0%,100%,.2);
}

.home-overlay img {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}

.kantrello-button-header {
  font-family: "Damion";
  color: white;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  opacity: 0.5;
}

.kantrello-button-header:hover {
  opacity: 0.8;
}

.kantrello-button-header p {
  font-size: 2em;
  color: white;
}

.logo-header {
  height: 20px;
  margin-top: 4px;
}

.avatar-container {
  background: #dfe3e6;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
}

.avatar-container:hover {
  background-color: #c2ccd1;
  cursor: pointer;
}

.avatar-container > * {
  font-size: 12px;
}

.user-dropdown {
  position: absolute;
  z-index: 20;
  top: 42px;
  right: 2px;
  background: white;
  color: #17394d;
  font-size: 14px;
  box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
  border-radius: 3px;
  width: 280px;
  display: flex;
  flex-direction: column;
  /* padding: 0 10px; */
}

.user-dropdown li {
  /* color: #6b808c; */
  text-align: left;
}

.user-dropdown li:first-of-type {
  border-bottom: 1px solid rgba(9,45,66,.13);
  margin: 0 12px;
  /* padding: 0 32px; */
  display: flex;
  justify-content: flex-start;
}

.user-dropdown li:first-of-type:hover {
  color: #6b808c;
  background-color: white;
}

.user-dropdown li:hover {
  color: white;
  background-color: #298fca;
}

.user-dropdown li > a {
  text-decoration: none;
  padding: 0px 0px 0px 12px;
  color: #17394d;
  font-size: 14px;
  /* width: 100%; */
}

.profile-link {
  width: 280px;
  height: 32px;
  display: block;
}

.logout-link {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.user-dropdown-name {
  color: #6b808c;
  display: block;
  font-size: 14px;
  font-weight: 325;
  width: 240px;
  padding: 4px 8px;
  height: 40px;
  text-align: center;
}

.user-dropdown-close {
  /* padding: 10px 12px 10px 8px; */
  padding: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
}
