.lists-container {
  width: 100%;
  height: calc(100% - 48px);
}

.lists {
  height: 99%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
}

.green-submit-button:hover {
  background: #519839;
  cursor: pointer;
}


.lists::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.lists::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px;
}

.lists::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,.15);
  border-radius: 3px;
}

.lists::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.4);
  border-radius: 3px;
}
/* .lists::-webkit-scrollbar {
  top: 20px;
  height: 12px;
  width: 12px;
}

.lists::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px;
}

.lists::-webkit-scollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(0, 0, 0, 0);
}

.lists::-webkit-scrollbar-track {
  border-radius: 4px;
}

.lists::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */


.list-item-container {
  width: 272px;
  min-width: 272px;
  height: 100%;
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
}

.list-item-container:first-of-type {
  margin-left: 8px;
}

.list-item-container:last-of-type {
  padding-right: 16px;
}

.list-item, .new-list-form-item {
  width: 100%;
  background: #dfe3e6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.new-card {
  height: 32px;
  padding: 8px;
  display: flex;
}

.new-card:hover {
  background-color: rgba(9,45,66,.13);
  cursor: pointer;
}

.new-card:hover > span {
  text-decoration: underline;
  color: #17394d;
}

.new-card > span {
  display: block;
  color: #6b808c;
  font-size: 14px;
  line-height: 17px;
}

.new-card > img {
  display: block;
  height: 22px;
  margin-top: -3px;
}

.add-new-list-overlay {
  background-color: rgba(0,0,0,.12);
  cursor: pointer;
  border-radius: 3px;
}

.add-new-list-overlay:hover {
  background-color: rgba(0,0,0,.24);
}

.new-list {
  display: flex;
  height: 40px;
}

.new-list > img {
  padding: 0px;
  height: 22px;
  margin-left: 15px;
  margin-top: 9px;
}

.new-list > span {
  display: block;
  color: hsla(0,0%,100%,.8);
  font-size: 14px;
  line-height: 14px;
  padding: 13px 0px;
}

.new-list-form {
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.new-list-form > div {
  margin-top: -2px;
  display: flex;

}

.new-list-form > div > img {
  margin-top: 12px;
  height: 24px;
}

.new-list-form > div > img:hover {
  cursor: pointer;
}

.new-list-form > input {
  background: #fff;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
  display: block;
  margin: 0;
  font-size: 14px;
  border-radius: 3px;
  transition: margin 85ms ease-in;
/* transition: ßbackground 85ms ease-in; */
  /* width: 100%; */
  padding: 6px 8px;
}
