.list-title {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 4px 4px 4px 16px;
}

.list-title-div {
  width: calc(100% - 32px);
}

.list-title > div > span {
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
}

.rename-list-form {
  width: 80%;
}

.rename-list-form input {
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 7px;
  margin-top: 2px;
  margin-left: -8px;
  color: #17394d;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.rename-list-form input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px #5ba4cf;
}

.list-actions-overlay {
  height: 32px;
  width: 32px;
}

.list-actions-overlay:hover {
  background-color: rgba(9,45,66,.13);
  border-radius: 3px;
  cursor: pointer;
}

.list-actions-overlay > img {
  margin-left: 4px;
  margin-top: 4px;
}

.list-cards {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}
