.session-form {
  position: absolute;
  top: 5%;
  margin-left: 33%;
  margin-right: 33%;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
}

.session-form > * {
  margin-bottom: 1.2em;
}

.session-errors {
  background: #eb5a46;
  color: #fbedeb;
  border-radius: 4px;
}
.session-errors li {
  color: #fbedeb;
  padding: 5px;
  font-size: 14px;
  font-weight: 300px;
}

.session-form > p > span {
  color: #298fca;
  font-size: 18px;
}

.session-form p {
  color: #999;
  font-size: 18px;
}

.session-form-header {
  font-size: 38px;
  font-weight: 700;
  width: 500px;
  margin-bottom: 5px;
  color: black;
}


.session-form-input {
  border: 1px solid #cdd2d4;
  border-radius: 4px;
  background-color: #edeff0;
  font-size: 20px;
  padding: 10px;
}

.session-form-input:focus {
  border-color: #a5acb0;
  box-shadow: 0 0 6px #cdd2d4;
}

.submit-input {
  color: white;
  background: #61bd4f;
  border-radius: 3px;
  box-shadow: 0 2px 0 #3f6f21;
  height: 42px;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.submit-input:hover {
  background: #5aac44;
}

.input-label {
  color: #4d4d4d;
  font-weight: 325;
  margin-bottom: 10px;
  font-size: 20px;
}

.input-label > p {
  display: inline;
  color: #999;
}

.demo-user-button {
  color: rgba(0,0,0,0.54);
  border: 2px solid #cdd2d4;
  border-radius: 3px;
  height: 42px;
  font-size: 20px;
}
