.splash-nav {
  position: fixed;
  height: 80px;
  background: #0079bf;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.home-button {
  font-family: "Damion";
  color: white;
  text-decoration: none;
  vertical-align: middle;
  display: flex;

}

.home-button:hover {
  color: #0C3953;
  opacity: 0.8;
}

.home-button p {
  font-size: 3em;
  color: white;
}

.logo {
  height: 40px;
}

.session-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background: rgba(0,0,0,0.15);
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: .7em 1.3em;
  font-weight: 350;
  line-height: 1.1em;
  margin-left:auto;
  margin-right:auto;
}

.signup-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background: linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%);
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: .7em 1.3em;
  font-weight: 700;
  line-height: 1.1em;
  margin-left: 15px;
  margin-right: auto;
}

.login-button:hover, .signup-button:hover {
  background: rgba(0,0,0,0.25);
  box-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.signup-button:hover {
  background-image: linear-gradient(rgb(90, 172, 68) 0px, rgb(81, 152, 57) 100%);
}

.large-button {
  position: relative;
  padding: .7em 54px;
  left: 33%;
  top: 20px;
}

.content {
  position: relative;
  top: 80px;
  width: 100%;
}

.content-top {
  background:
  linear-gradient(
      rgba(0, 121, 191, 0.7),
      rgba(0, 121, 191, 0.7)
    ), url('splash.jpg') center left / cover no-repeat;
  height: 500px;
}

.header-content {
  position: relative;
  color: white;
  top: 15%;
  margin: 0 20%;

}

.header-content h1 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 26px;
  color: white;
}

.content-top-text {
  font-size: 2vw;
  font-weight: 325;
  text-align: center;
  margin: 20px 0;
  color: white;
}

.content-top > p {
  position: relative;
  top: 0%;
  left: 44%;
  color: white;
  font-size: 16px;
  font-weight: 325;
}

.content-middle {
  background: #315989;
  height: 680px;
}
