.splash-nav {
  position: fixed;
  height: 80px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  font-family: 'PT Sans';
}

.home-button {
  font-family: "Damion";
  color: white;
  text-decoration: none;
  vertical-align: middle;
  display: flex;

}

.home-button:hover {
  color: #0C3953;
  opacity: 0.8;
}

.home-button p {
  font-size: 3em;
  color: white;
}

.logo {
  height: 40px;
}

.session-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background: none;
  box-shadow: none;
  border-radius: 5px;
  padding: .7em 1.3em;
  font-weight: 550;
  line-height: 1.1em;
  margin-left:auto;
  margin-right:auto;
}

.signup-button {
  text-decoration: none;
  background: #FFFFFF;
  color: #0079bf;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.05em;
  padding: .25em 1em .35em;
  border-radius: 4px;
  box-shadow: 0 2px #c1c7d0;
  margin: .25em auto;
  display: inline-block;
  line-height: 1.5em;
  margin-left: 15px;
  margin-right: auto;
}

.signup-button:hover {
  opacity: 0.95;
}