.splash {
  display: flex;
  flex-direction: column;
}


.content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.content-top {
  background:
  linear-gradient(
      rgba(0, 121, 191, 0.8),
      rgba(0, 121, 191, 0.8)
    ), url('splash.jpg') center left / cover no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.header-content {
  color: white;
  margin: 0 20%;
  margin-top: 75px;
  height: 80%;
  overflow: auto;
}

.header-content h1 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 26px;
  color: white;
}

.content-top-text {
  font-size: 2vw;
  font-weight: 325;
  text-align: center;
  margin: 20px 0;
  color: white;
}

.large-button-container {
  display: flex;
  justify-content: center;
}

.large-button {
  padding: .7em 54px;
  text-align: center;
  margin: 15px auto;
  align-self: flex-end;
}

.login-link {
  margin-top: 30px;
  color: white;
  font-size: 16px;
  font-weight: 350;
  text-align: center;
}

.content-middle {
  background: #315989;
  height: 680px;
  display: flex;
  flex-direction: column;
}

.content-middle h1 {
  color: white;
}

.content-middle p {
  text-align: center;
  color: white;
  font-weight: 325;
  font-size: 1.5vw;
}

footer {
  display: flex;
  background: white;
  justify-content: center;
  height: 80px;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
}

footer p {
  color: #999;
  margin: 10px auto;
}

.footer-links {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links a {
  margin: 0 10px;
  height: 100%;
  color: #999;
  height: 100%;
  display: block;
  line-height: 26px;
}

.footer-links a:hover {
  color: #333;
}
